<footer>
    <div class="cont border-top bg-light">
        <div class="socials">
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="copy">
            &copy; WanderLust Private Limited
        </div>
        <div class="links">
            <a href="#">Privacy</a>
            <a href="/">Terms</a>
        </div>
    </div>
</footer>